<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="post">
        {{message.hidden_tag()}}

<p>{{message.name.label}}
{{message.name}}</p>

<p>{{message.email.label}} {{message.email}}</p>
<p>{{message.message.label}} {{message.message}} </p>
<p>{{message.gender.label}}</p>
{% for choice in message.gender %}
<p>{{choice}} {{choice.label}} </p>
{% endfor %}
 <p>{{ message.accept_term }} {{ message.accept_term.label }}</p>
 <p>{{message.date.label}} {{message.date}}</p>

  <p>{{message.age.label}} {{message.age}}</p>

<p>{{message.submit}}</p>





    </form>



</body>
</html>